* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif;
	text-decoration: none;
}

html {
	width: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1), rgba(9,118,121,1), rgba(0,212,255,0));
}

.num-page {
	text-align: center;
	margin: 10px;
}

#page-1 {
	margin-top: 30px;
}

 .outercontainer {
	width: 50vw;
	height: 900px;
	margin: auto;
	display: block;
	background: white;
	border-style: solid;
	border-radius: 10px;
}

 .innercontainer {
	height: 750px;
	width: 40vw;
	margin: auto;
	display: block;
	margin-top: 70px;
	background: #F3F3F3;
	border-style: groove;
}

#page-1 img {
	width: 65px;
	height: 65px;
	margin: auto;
}

#page-1 .wlogo {
	display: flex;
	justify-content: space-between;
}

#page-1 .text {
	padding: 0 10px 0 10px;
}

#page-1 .mpclogo {
	float: left;
	margin-left: -25px;
}

#page-1 .text h4, p {
	text-align: center;
}

.titlepage {
	line-height: 30px;
}

#page-1 .bitlogo {
	float: right;
	margin-right: -22px;
}

#page-1 .maintext {
	padding: 10% 45px 40px 45px;
	text-align: center;
}

#page-1 .researchers {
	line-height: 25px;
}


/* tablet */
@media (max-width: 1200px) {
	html {
		font-size: 13.2px;
	}
	.outercontainer {
		width: 80vw;
		height: 850px;
	}
	.innercontainer {
		width: 60vw;
		height: 700px;
	}
	#page-1 img {
		width: 55px;
		height: 55px;
	}
}

/* mobile */
@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
	.outercontainer {
		width: 90vw;
		height: 780px;
	}
	.innercontainer {
		width: 75vw;
		height: 650px;
	}
	#page-1 img {
		width: 50px;
		height: 50px;

	}
}